/node_modules
/public/hot
# /public/storage
/storage/logs
/storage/app
/storage/framework
# /storage/decoded_suras
# /storage/decoded_verses
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode